@media (min-width: 1601px) and (max-width: 1750px) {
#your-image,#your-image1{
       column-gap: 20px !important;   
}
#notification{
          padding-left: 10px !important;
          padding-right: 10px !important;
}
#Notifi-circle1{
          margin-left:54px !important
}
#Notifi-circle2{
          margin-left:49.5px !important
}
#Notifi-circle3{
          margin-left:108px !important
}

}
@media (min-width: 1441px) and (max-width: 1600px) {
          #your-image,#your-image1{
                    column-gap: 5px !important;   
             }  
             #notifi-project1 ,#notifi-project2, #notifi-project3,  #show-details1,#show-details2,  #show-details3{
                  width:100% !important
             } 
             #Notifi-circle1{
                    margin-left:12px !important
          }
          #Notifi-circle2{
                    margin-left:7.5px !important
          }
          #Notifi-circle3{
                    margin-left:66px !important
          } 
          #show-details1,
          #show-details2,
          #show-details3 {
            height: 125px !important;
          }
          #cross {
                    margin-left: 0.5px !important;
                  }
         
}
@media (min-width: 1280px) and (max-width: 1440px) {
          #your-image,#your-image1{
                    column-gap: 6px !important;   
             }  
             #Yc-image-box {
                    width: 80px !important;
                    height: 80px !important;
                  }
                
                  #Yc-image {
                    width: 65px !important;
                    height: 65px !important;
                  }
                  #broad-cast{
                    width: 140px !important;
                  }
                  #notifi-project1 ,#notifi-project2, #notifi-project3,#show-details1,#show-details2,  #show-details3{
                    width:100% !important
               } 
               #notification{
                    padding-left: 10px !important;
                    padding-right: 10px !important;
          }
          #Notifi-circle1{
                    margin-left:30px !important
          }
          #Notifi-circle2{
                    margin-left:17.5px !important
          }
          #Notifi-circle3{
                    margin-left:70px !important
          }
          #notifi-title1,
          #notifi-title2,
          #notifi-title3 {
            margin-left: 6px !important;
            font-size: 11px !important;
          }
         #your-project{
                    width: 225px !important;
          }
          #your-resg{
                    width: 220px !important; 
          }
          #your-booking{
                    width: 220px !important; 
          }
          #show-details1,
          #show-details2,
          #show-details3 {
            height: 134px !important;
          }
        
          #cross {
            margin-left: 0px !important;
          }
        
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
          #your-image,#your-image1{
                    column-gap: 10px !important;   
             } 
             #Yc-image-box {
                    width: 70px !important;
                    height: 70px !important;
                  }
                
                  #Yc-image {
                    width: 60px !important;
                    height: 60px !important;
                  }
                  #notifi-project1 ,#notifi-project2, #notifi-project3,#show-details1,#show-details2,  #show-details3{
                    width:100% !important
               } 
               #notification{
                    padding-left: 10px !important;
                    padding-right: 10px !important;
          }
          #Notifi-circle1{
                    margin-left:26px !important
          }
          #Notifi-circle2{
                    margin-left:12.5px !important
          }
          #Notifi-circle3{
                    margin-left:66px !important
          }
          #notifi-title1,
          #notifi-title2,
          #notifi-title3 {
            margin-left: 6px !important;
            font-size: 11px !important;
          }

  #show-details1,
  #show-details2,
  #show-details3 {
    height: 140px !important;
  }

  #cross {
    margin-left: 0px !important;
  }
}
@media screen and (min-width: 960px) and (max-width: 1024px) {
          #your-image,#your-image1{
                    column-gap: 10px !important;   
             } 
             #Yc-image-box {
                    width: 65px !important;
                    height: 65px !important;
                  }
                
                  #Yc-image {
                    width: 55px !important;
                    height: 55px !important;
                  }
                  #notifi-project1 ,#notifi-project2, #notifi-project3,#show-details1,#show-details2,  #show-details3{
                    width:100% !important
               } 
               #notification{
                    padding-left: 10px !important;
                    padding-right: 10px !important;
          }
          #Notifi-circle1{
                    margin-left:16px !important
          }
          #Notifi-circle2{
                    margin-left:3.5px !important
          }
          #Notifi-circle3{
                    margin-left:57px !important
          }
          #notifi-title1,
          #notifi-title2,
          #notifi-title3 {
            margin-left: 6px !important;
            font-size: 11px !important;
          }
          #box1,#box2,#box3{
                    margin-right: 0px !important;
          }
          #show-details1,
          #show-details2,
          #show-details3 {
            height: 140px !important;
          }
}

@media screen and (min-width: 876px) and (max-width: 959px) {
          #your-image,#your-image1{
                    column-gap: 6px !important;   
             }  
             #Yc-image-box {
                    width: 80px !important;
                    height: 80px !important;
                  }
                
                  #Yc-image {
                    width: 65px !important;
                    height: 65px !important;
                  }
}
@media screen and (min-width: 720px) and (max-width: 875px) {
          #your-image,#your-image1{
                    column-gap: 8px !important;   
             } 
             #Yc-image-box {
                    width: 65px !important;
                    height: 65px !important;
                  }
                
                  #Yc-image {
                    width: 55px !important;
                    height: 55px !important;
                  }
}     