.vertical-timeline--two-columns .vertical-timeline-element-icon{
width:30px !important;
height:30px !important;
margin-left: -15px !important; 
}
.vertical-timeline::before{
          background: #D8E0ED !important ;
}
.vertical-timeline-element-icon {
          box-shadow: 0px 0px 0px 0px !important;
}
#count{
          font-size: 25px !important;
}
.vertical-timeline--two-columns .vertical-timeline-element-content{
          margin-left: 58px !important;
          padding: 1.5em !important;
          width: 40% !important;
}
.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
          float: right !important;
          margin-right: 58px !important;
}
.vertical-timeline.vertical-timeline--two-columns:before{
          margin-top: 28px !important;
}
.vertical-timeline-element-content{
          box-shadow: 3px 3px 3px 3px #dedfdf !important;
}