#card-visits,
#card-resg,
#card-booking,
#card-project {
  height: 287px !important;
}
@media (min-width: 1601px) and (max-width: 1750px) {
  #Notifi-circle1 {
    margin-left: 50px !important;
  }

  #Notifi-circle2 {
    margin-left: 36px !important;
  }

  #Notifi-circle3 {
    margin-left: 95px !important;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  #Yc-image-box {
    width: 90px !important;
    height: 90px !important;
  }

  #Yc-image {
    width: 75px !important;
    height: 75px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 287px !important;
  }

  #chart-vists,
  #chart-resg,
  #chart-booking {
    margin-top: -17px !important;
  }

  #Notifi-circle1 {
    margin-left: 30px !important;
  }

  #Notifi-circle2 {
    margin-left: 18px !important;
  }

  #Notifi-circle3 {
    margin-left: 72px !important;
  }

  #notifi-title1,
  #notifi-title2,
  #notifi-title3 {
    margin-left: 8px !important;
    font-size: 11px !important;
  }

  #notifi-box1,
  #show-details1,
  #notifi-box2,
  #show-details2,
  #notifi-box3,
  #show-details3 {
    width: 100% !important
  }

  #show-details1,
  #show-details2,
  #show-details3 {
    height: 125px !important;
  }

  #check1,
  #check2,
  #check3 {
    margin-top: 30px !important;
    margin-right: 0px !important;
  }

  #cross {
    margin-left: 0.5px !important;
  }

  #today-time {
    padding: 10px !important;
    margin-top: 16px !important;
  }
}


@media (min-width: 1280px) and (max-width: 1440px) {
  
  #notifi-box1,
  #show-details1,
  #notifi-box2,
  #show-details2,
  #notifi-box3,
  #show-details3 {
    width: 100% !important
  }
  #upcoming{
    margin-right: 0px !important;
  }

  #Notifi-circle1 {
    margin-left: 16px !important;
  }

  #Notifi-circle2 {
    margin-left: 16px !important;
  }

  #Notifi-circle3 {
    margin-left: 30px !important;
  }

  #notification {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  #notifi-title1,
  #notifi-title2,
  #notifi-title3 {
    margin-left: 8px !important;
    font-size: 11px !important;
  }

  #Notifi-circle1 {
    margin-left: 32px !important;
  }

  #Notifi-circle2 {
    margin-left: 18px !important;
  }

  #Notifi-circle3 {
    margin-left: 70px !important;
  }

  #show-details1,
  #show-details2,
  #show-details3 {
    height: 134px !important;
  }

  #cross {
    margin-left: 0px !important;
  }

  #Yc-image-box {
    width: 80px !important;
    height: 80px !important;
  }

  #Yc-image {
    width: 65px !important;
    height: 65px !important;
  }
  #show-image,#show-image1{
    column-gap: 8px !important;
  }

  #latest-projects {
    margin-right: 0px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 305px !important;
  }

  #today-time {
    padding: 8px !important;
    margin-top: 18px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

  #notifi-box1,
  #show-details1,
  #notifi-box2,
  #show-details2,
  #notifi-box3,
  #show-details3 {
    width: 100% !important
  }

  #notification {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  #Notifi-circle1 {
    margin-left: 28px !important;
  }

  #Notifi-circle2 {
    margin-left: 16px !important;
  }

  #Notifi-circle3 {
    margin-left: 70px !important;
  }
  #show-image,#show-image1{
    column-gap: 10px !important;
  }

  #notifi-title1,
  #notifi-title2,
  #notifi-title3 {
    margin-left: 6px !important;
    font-size: 11px !important;
  }

  #show-details1,
  #show-details2,
  #show-details3 {
    height: 140px !important;
  }

  #cross {
    margin-left: 0px !important;
  }

  #Box-width1,
  #Box-width2,
  #Box-width3,
  #Box-width4 {
    width: 30% !important;
  }

  #today-time {
    padding: 10px !important;
    margin-top: 16px !important;
  }

  #Yc-image-box {
    width: 75px !important;
    height: 75px !important;
  }

  #Yc-image {
    width: 60px !important;
    height: 60px !important;
  }

  #latest-projects {
    margin-right: 0px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 305px !important;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {

  #notifi-box1,
  #show-details1,
  #notifi-box2,
  #show-details2,
  #notifi-box3,
  #show-details3 {
    width: 100% !important
  }

  #notification {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  #show-image,#show-image1{
    column-gap: 0px !important;
  }
  #Notifi-circle1 {
    margin-left: 22px !important;
  }

  #Notifi-circle2 {
    margin-left: 10px !important;
  }

  #Notifi-circle3 {
    margin-left: 62px !important;
  }

  #notifi-title1,
  #notifi-title2,
  #notifi-title3 {
    margin-left: 8px !important;
    font-size: 11px !important;
  }

  #show-details1,
  #show-details2,
  #show-details3 {
    height: 140px !important;
  }

  #today-time {
    padding: 7px;
    margin-top: 20px;
  }

  #Yc-image-box {
    width: 80px !important;
    height: 80px !important;
  }

  #Yc-image {
    width: 60px !important;
    height: 60px !important;
  }

  #Yc-image-ml1,
  #Yc-image-ml2 {
    margin-left: 5px !important;
  }

  #Yc-image-mr2,
  #Yc-image-mr1 {
    margin-right: 5px !important;
  }

  #latest-projects {
    margin-right: 0px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 300px !important;
  }



}

@media screen and (min-width: 876px) and (max-width: 959px) {
  #Yc-image-box {
    width: 70px !important;
    height: 70px !important;
  }

  #Yc-image {
    width: 60px !important;
    height: 60px !important;
  }


  #latest-projects {
    margin-right: 0px !important;
  }
  #show-image,#show-image1{
    column-gap: 25px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 305px !important;
  }

  #notifi-title2 {
    margin-left: 18px !important;
  }

  #Notifi-circle2 {
    margin-left: 67.5px !important;
  }

  #notifi-title3 {
    margin-left: 20px !important;
  }

  #Notifi-circle3 {
    margin-left: 125.5px !important;
  }
}

@media screen and (min-width: 720px) and (max-width: 876px) {
  #Yc-image-box {
    width: 60px !important;
    height: 60px !important;
  }

  #Yc-image {
    width: 45px !important;
    height: 45px !important;
  }

  #Yc-image-ml1,
  #Yc-image-ml2 {
    margin-left: 5px !important;
  }
  #show-image,#show-image1{
    column-gap: 15px !important;
  }

  #Yc-image-mr2,
  #Yc-image-mr1 {
    margin-right: 5px !important;
  }

  #card1,
  #card2,
  #card3,
  #card4 {
    max-width: 100% !important;
  }

  #vists {
    margin-left: 0px !important;
  }

  #bookings {
    margin-left: 0px !important;
  }

  #project-latest,
  #project-most {
    width: 140px !important;
    height: 120px !important;
  }

  #card-visits,
  #card-resg,
  #card-booking,
  #card-project {
    height: 325px !important;
  }

  #chart-vists,
  #chart-resg,
  #chart-booking {
    margin-top: 0px !important;
  }
}


@media screen and (min-width: 940px) and (max-width: 1280px) {
  #label-size {
    font-size: 13px !important;
  }

  #box2 {
    padding: 15px !important;
  }

  #box5 {
    padding: 15px !important;
  }


}

@media (min-width: 1280px) and (max-width: 1600px) {

  .css-9od57o {
    width: 143px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }



  .css-wxejo2 {
    border-radius: 6px;
  }

  #box2 {
    padding: 15px !important;
  }

  #box5 {
    padding: 15px !important;
  }

  #box3,
  #box8,
  #box6,
  #box9,
  #box4,
  #box7 {
    font-size: 12px !important;
  }

  #label-size {
    font-size: 13px !important;
  }

}


@media (min-width: 1600px) and (max-width: 1980px) {

  #box4,
  #box7 {
    margin-left: 22px !important;
  }
}